/*-- scss:defaults --*/

@import url(http://fonts.googleapis.com/css?family=Montserrat&display=swap);
@import url(https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@700&family=Montserrat:wght@700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght400&family=Montserrat:wght@300&display=swap);
@import url(https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@300&family=Montserrat:wght@300&display=swap);
@import url(https://fonts.googleapis.com/css2?family=M+PLUS+1p&display=swap);

//
// Color system
//

$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #ddd !default;
$gray-300: #ccc !default;
$gray-400: #bbb !default;
$gray-500: #adb5bd !default;
$gray-600: #777 !default;
$gray-700: #444 !default;
$gray-800: #373a3c !default;
$gray-900: #212529 !default;
$black:    #000 !default;

$blue:    #007bff !default;
$indigo:  #6610f2 !default;
$purple:  #9b479f !default;
$pink:    #e83e8c !default;
$red:     #d9230f !default;
$yellow:  #ffc107 !default;
$green:   #469408 !default;
$teal:    #20c997 !default;
$cyan:    #029acf !default;
$orange:    #FB5A36 !default;

$primary:       $red !default;
$secondary:     $white !default;
$success:       $green !default;
$info:          $cyan !default;
$warning:       $orange !default;
$danger:        $purple !default;
$light:         $white !default;
$dark:          $gray-800 !default;

$min-contrast-ratio:   2.8 !default;
$link-color: $orange;

// Body

$body-bg:                   #fcfcfc !default;

// Fonts

$font-family-jp: "M PLUS 1P" !default;
$font-family-en: "Montserrat" !default;

$font-family-sans-serif: $font-family-en, $font-family-jp !default;
$font-family-serif: $font-family-en, $font-family-jp !default;
$font-family-monospace: "Fira Code" !default;

$font-weight-lighter:         lighter !default;
$font-weight-light:           300 !default;
$font-weight-normal:          400 !default;
$font-weight-medium:          500 !default;
$font-weight-semibold:        600 !default;
$font-weight-bold:            700 !default;
$font-weight-bolder:          bolder !default;
$font-weight-base:            $font-weight-normal !default;

$headings-font-family: $font-family-sans-serif !default;
$headings-font-weight: 800 !default;

$body-font-family: $font-family-sans-serif !default;

$navbar-font-family: $font-family-sans-serif !default;
// $navbar-header

$toc-font-family: $font-family-sans-serif !default;



// font-family: $font-family-sans-serif;

/*-- scss:rules --*/

#quarto-margin-sidebar {
    .quarto-listing-category-title {
        margin-left: 0.5em;
    }

    .quarto-listing-category {
        font-family: $toc-font-family;
        // font-weight: 300;
        font-size: 0.9em;
        line-height: 1.1;
        padding-left: 0.6rem;
        margin-left: 0.5em;
        border-left: 1px solid $gray-200;

        .category {
            padding-bottom: 0.5rem;
        }

        .active {
            font-weight: 400;
            color: $red;
        }

        .quarto-category-count {
            font-weight: 200;
            font-size: 0.8em;
            color: $gray-600;
        }
    }
    
}

.navbar {
    height: 6em;
    border-bottom-color: $orange;
}

.navbar-brand-container {
    font-weight: 500;
    margin-left: 1em;
    margin-right: 1em;
    width: auto;
    // box-sizing: border-box;
}

.navbar-title {
    font-size: 40px;
    color: $black;
}

.nav-item {
    margin-left: 1em;
}


#quarto-body {
    font-family: $font-family-sans-serif;
}

// Profile

// Interest

// .callout-caution.callout {
//     border-left-color: $orange;
//     border-right-style: none;
//     border-top-style: none;
//     border-bottom-style: none;
//   }

// .profile {
//     .anchored {
//         font-weight: $font-weight-bold;
//     }

// }


// Research
.research {
    .research-entry {
        display: flex;
        flex-direction: row;
        font-family: $font-family-sans-serif;
        font-weight: 700;
        line-height: 1.3;
        margin-bottom: 1.5em;
        column-gap: 1em;

        .metadata {
            flex: 0 0 8%;
        }

        .body {
            flex: 1 1 auto;
            border-left-color: $orange;
            border-left-style: solid;
            border-left-width: 5px;
            padding-left: 0.8em;
        }

        .thumbnail {
            flex: 0 0 25%;

            img {
                width: 100%;
                object-fit: cover;
                max-height: 120px;
            }
        }

        .title {
            font-family: $headings-font-family;
            font-weight: 500;
            font-size: 1.3em;
            margin-bottom: 0.2em;
            line-height: 1.2;
        }

        .subtitle {
            font-family: $headings-font-family;
            font-size: 1.0em;
            font-weight: 500;
            margin-bottom: 0.2em;
        }

        .description {
            font-weight: 300;
            font-size: 1em;
            margin-bottom: 0.3em;
        }

        .date {
            font-weight: 300;
            font-size: 0.85em;
            margin-top: 0.3em;
            text-align: right;
        }

        .item-categories {
            display: flex;
            flex-wrap: wrap;
            row-gap: 0.4em;
            column-gap: 0.4em;
            margin: 0.5em 0;

            .item-category {
                font-weight: 400;
                color: $gray-600;
                border: 1px solid $gray-500;
                border-radius: 0.25rem;
                text-transform: uppercase;
                font-size: 0.65em;
                padding: 0.15em 0.5em;
                cursor: pointer;
            }
        }

        .research-coauthors {
            font-weight: 500;
            font-size: 0.8em;
            margin-bottom: 0.5em;
            color: $gray-500;
        }
        .research-journal {
            font-weight: 500;
            font-size: 0.8em;
            margin-bottom: 0.5em;
            color: $gray-500;
        }

        ul.research-links {
            padding: 0 0.5em;
            margin-bottom: 0;

            .research-link {
                font-weight: 500;
                color: $orange;
                display: inline-block;
                white-space: nowrap;
                margin: 0;
                padding: 0.5em 1em 0.5em 0;
                font-size: 0.85em;
            }
        }
    }
}

// Blog
.blog {
    .blog-entry {
        display: flex;
        flex-direction: row;
        font-family: $font-family-sans-serif;
        line-height: 1.3;
        margin-bottom: 1.5em;
        column-gap: 1em;

        .metadata {
            flex: 0 0 8%;
        }

        .body {
            flex: 1 1 auto;
        }

        .thumbnail {
            flex: 0 0 25%;

            img {
                width: 100%;
                object-fit: cover;
                max-height: 120px;
            }
        }

        .title {
            font-family: $headings-font-family;
            font-weight: 500;
            font-size: 1.3em;
            margin-bottom: 0.2em;
            line-height: 1.2;
        }

        .description {
            font-weight: 300;
            font-size: 0.9em;
            margin-bottom: 0.3em;
        }

        .date {
            font-weight: 300;
            font-size: 0.85em;
            margin-top: 0.3em;
            text-align: right;
        }

        .post-categories {
            display: flex;
            flex-wrap: wrap;
            row-gap: 0.4em;
            column-gap: 0.4em;
            margin: 0.5em 0;

            .post-category {
                color: $gray-600;
                border: 1px solid $gray-500;
                border-radius: 0.25rem;
                text-transform: uppercase;
                font-size: 0.65em;
                padding: 0.15em 0.5em;
                cursor: pointer;
            }
        }
    }
}

.blog-post {
    .quarto-title .quarto-categories {
        margin-top: 1.5em;

        .quarto-category {
            background-color: shift-color($purple, -25%);
            border-color: shift-color($purple, -45%);
            color: $white;
            font-size: 0.65em;
            opacity: 1;
        }
    }
}